.articleList:first-of-type {
  margin-bottom: 24px;
}

.heading {
  font: 400 24px/0.69 "Outfit", sans-serif;
  color: #3a496d;
  margin: 4px 16px;
  border-bottom: 1px solid #efefef;
}

.article {
  display: flex;
  margin: 0 16px;
  padding: 16px 0;
  border-bottom: 1px solid #efefef;
}

.articleList div:last-of-type > .article {
  border-bottom: none;
}

.articleImage {
  position: relative;
  width: 84px;
  height: 84px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: #efefef -3px 3px 0 -1px;
}

.articleImage img {
  border-radius: 8px;
  object-fit: cover;
}

.articleInfo {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.articleInfo h3 {
  color: #333;
  font: 21px/1.2 "Outfit", sans-serif;
  margin: 0 0 8px;
  word-break: break-word;
}

.articleInfo small {
  color: #555;
  font: 14px "Unica One";
}
@media (max-width: 899px) {
  .articleLarge {
    padding: 0 0 24px 0;
    flex-direction: column-reverse;
    text-align: center;
  }

  .articleLarge .articleImage {
    width: 100%;
    height: min(50vw, 320px);
  }
  .articleLarge .articleInfo {
    margin: 36px 0;
    padding: 0;
  }
}

.articleLarge h3 {
  font: 36px/1.3 Trochut;
  margin: 0;
}

.articleLarge h4 {
  font: 18px/1.3 Outfit;
  color: #696969;
  margin: 16px 0 0 0;
}

.articleLarge small {
  margin-top: 24px;
}

@media (min-width: 900px) {
  .articleInfo {
    padding-left: 16px;
  }

  .articleLarge {
    padding: 24px 0;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  .articleLarge .articleImage {
    margin-left: 32px;
    width: 240px;
    height: 240px;
  }
}
