.article_info {
  margin: 0 auto;
  padding: 16px 24px;
  width: 800px;
  max-width: 100%;
}

.article_info h1 {
  font: 500 2em "Outfit";
  margin: 1em 0 0.5em;
}

.article_info small {
  display: block;
  color: #444;
  font-weight: 300;
  margin-bottom: 12px;
}

.main_image {
  display: block;
  margin: 0 auto;
  width: 1000px;
  max-width: 100%;
}

.main_image span {
  max-height: 160vh;
}

.main_image img {
  object-fit: cover;
}

.image_credit {
  color: #888;
  text-align: right;
  padding: 4px 6px;
  font: 14px sans-serif;
}

main.content {
  font: 18px/1.8 "PT Serif", serif;
  text-align: start;
  margin: 0 auto;
  padding: 16px 24px;
  width: 800px;
  max-width: 100%;
}

main.content p:first-child {
  margin-top: 0;
}

.content h3 {
  font-family: -apple-system, "Outfit", BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: start;
}

.content a {
  color: rgb(0, 110, 255);
}

.content a:hover {
  text-decoration: underline;
}

.content img {
  max-width: 100%;
  max-height: 80vh;
  overflow: hidden;
  background: #efefef;
}

@media (min-width: 900px) {
  .article_info {
    padding: 48px 16px;
  }
}
