.articleList:first-of-type {
  margin-bottom: 24px;
}

.heading {
  font: 400 24px/0.69 "Outfit", sans-serif;
  color: #3a6d52;
  margin: 4px 0;
  border-bottom: 1px dotted #e5e5e5;
}

.article {
  display: flex;
  margin: 0;
  padding: 16px 0;
  border-bottom: 1px dotted #e5e5e5;
}

.articleImage {
  position: relative;
  width: 84px;
  height: 84px;
  flex-grow: 0;
  flex-shrink: 0;
  border-radius: 8px;
  box-shadow: #afafaf1e -3px 3px 0 -1px;
}

.articleImage img {
  border-radius: 8px;
  object-fit: cover;
}

.articleInfo {
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.articleInfo h3 {
  color: #333;
  font: 21px/1.2 "Outfit", sans-serif;
  margin: 0 0 8px;
  word-break: break-word;
}

.articleInfo small {
  color: #555;
}
