.mainArticle {
  width: 100%;
  height: 500px;
  background: #aaa;
  margin-bottom: 32px;
}

.embed {
  margin: 0 auto;
  width: 500px;
  max-width: 100%;
}

.embed iframe {
  display: block;
  width: 100%;
  height: 500px;
  max-height: 64vw;
  margin-bottom: 24px;
}
