.mainArticle {
  width: 100%;
  background: rgb(238, 242, 234);
}

.mainArticle > div {
  position: relative;
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
  padding: 24px 0 0;
  color: #333;
}

.mainArticle h1 {
  font: 32px/40px "Shippori Mincho", "Outfit", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  letter-spacing: -10%;
  padding: 0 24px;
  margin: 0;
}

.mainImage {
  margin-left: 24px;
  max-height: 240px;
  overflow: hidden;
}

.mainImage > span {
  display: block;
}

.author {
  font-family: "Outfit", -apple-system, sans-serif;
  color: rgba(0, 0, 0, 0.777);
  padding: 24px;
}

.btnLees {
  display: block;
  position: absolute;
  bottom: 24px;
  right: 24px;
  width: 72px;
  padding: 11px 17px;

  background: #333;
  color: #efefef;
  border: #efefef21 2px solid;
  border-radius: 8px;

  font: 1em/1 "Outfit", -apple-system, sans-serif;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

@media (min-width: 900px) {
  .mainArticle {
    position: relative;
    background: #ffffffad;
    overflow: hidden;
  }

  .mainArticle h1 {
    font: 44px/1.2 "Shippori Mincho", "Outfit", -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
      "Open Sans", "Helvetica Neue", sans-serif;
  }

  .mainArticle > div {
    position: static;
    padding: 100px 0;
  }

  .mainImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: none;
    z-index: -1;
    margin: 0;
    filter: blur(6px);
    transform: scale(1.1);
  }

  .btnLees {
    position: static;
    margin: 12px 0 0 24px;
  }

  .btnLees:hover {
    border: #ffffff36 2px solid;
  }
}
